@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  body {
    --bg: hsl(230, 17%, 14%);
    --bg-card: hsl(228, 28%, 20%);
    --title-text: hsl(0, 0%, 100%);
    --text-color: hsl(228, 34%, 66%);
    --card-bg-top: hsl(208, 92%, 53%);
    --theme-text: hsl(228, 34%, 66%);
    --toggle-color:hsl(230, 22%, 74%);
    --lime-green:hsl(163, 72%, 41%);
    --toggle: linear-gradient(to right, hsl(210, 78%, 56%) to hsl(146, 68%, 55%));
    font-family: "Inter", sans-serif;
    font-size: 14px;
    padding-left: 1.5rem;
    background-color: var(--bg);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .light-theme {
    --bg: hsl(0, 0%, 100%);
    --bg-card: hsl(227, 47%, 96%);
    --title-text: hsl(230, 17%, 14%);
    --text-color: hsl(228, 12%, 44%);
    --card-bg-top: hsl(208, 92%, 53%);
    --theme-text: hsl(224, 66%, 83%);
  }

/* header */
.headerText {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}
h2, h1{
  color: var(--title-text);
}

hr {
  width: 92%;
  color: var(--theme-text);
}
.headerText p {
  color: var(--text-color);
  font-weight: bold;
  margin-top: 5px;
  font-size: 16px;
}

/* toggle button */
.toggle {
  padding-top: 1.5rem;
  color: var(--text-color);
  font-weight: bold;
  padding-bottom: 1rem;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.toggleBtn {
  margin-right: 1.2rem;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--lime-green);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 3px;
  background-color:  var(--bg-card);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: var(--toggle-color);
}
input:focus + .slider {
  box-shadow: 0 0 1px var(--card-bg-top);
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: var(--bg);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/* end of toggle button */


/* Grid items */
.firstGrid {
  margin-bottom: 5rem;
}

.grid-item {
  background-color: var(--bg-card);
  width: 93%;
  text-align: center;
  padding: 2rem;
  border-top: 5px solid var(--card-bg-top);
  border-radius: 6px;
  margin-bottom: 1.2rem;
}
.grid-item:hover{
    opacity: 0.6;
}
.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-color);
  font-weight: bold;
  margin-bottom: 1.5rem;
  padding-top: 0.5rem;
}
.socials p {
  margin-left: 0.5rem;
}
.count h1 {
  font-size: 3.5rem;
  margin-bottom: -1.2rem;
}
.count span {
  color: var(--text-color);
  letter-spacing: 4px;
}

.stat {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  color: hsl(163, 72%, 41%);
  font-weight: bold;
}
.stat i {
  margin-right: 0.5rem;
  color: hsl(163, 72%, 41%);
}

.twitter {
  border-top: 5px solid var(--card-bg-top);
}
.instagram {
  border-top: 5px solid;
  border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%))
    1 0 0 0;
}
.youtube {
  border-top: 5px solid hsl(348, 97%, 39%);
}
.youtube i {
  color: hsl(348, 97%, 39%);
}
.youtube_stat {
  color: hsl(348, 97%, 39%);
}
/* end of first grid */

/* start of second div */
.seconGrid-container {
  margin-bottom: 2.5rem;
}
.second_gridItem {
  background-color:  var(--bg-card);
  width: 93%;
  padding: 1.5rem;
  border-radius: 6px;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second_gridItem:hover{
    opacity: 0.5;
}
.views {
  margin-top: 1.5rem;
  margin-top: 0.5rem;
}
.views p {
  color: var(--text-color);
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.views h1 {
  font-size: 2.5rem;
  margin-top: 2rem;
}

.stat_2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-family: "Inter", sans-serif;
}

.stat_2 img {
  width: 1.5rem;
  margin-top: -1.5rem;
}
.down i{
    color: hsl(348, 97%, 39%);
    font-weight: bold;
  margin-top: 3rem;
  margin-left: -1.9rem;
}
.down p{
    color: hsl(348, 97%, 39%);
}
.up p{
    color: hsl(163, 72%, 41%);
}
.up i {
  color: hsl(163, 72%, 41%);
  font-weight: bold;
  margin-top: 3rem;
  margin-left: -1.9rem;
}

.stat_icon {
  margin-top: -0.5rem;
  margin-left: 0.2rem;
}
.stat_icon i {
  margin-left: -1rem;
}
.stat_icon p {
  margin-top: -1rem;
  font-weight: bold;
}
.plenty img {
  margin-left: 1.5rem;
}
.plenty2 img {
  margin-left: 1rem;
}
.plenty1 img {
  margin-left: 0.5rem;
}


/* start of destop view */
@media (min-width: 760px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    margin-left: 8rem;
  }
  hr {
    display: none;
  }

  /* header */
  .header {
    display: flex;
    justify-content: space-between;
  }
  .toggle {
    margin-right: 10rem;
    margin-top: 1rem;
  }
  .toggle p {
    margin-right: 1rem;
  }
  .toggleBtn {
    margin-right: 0.1rem;
  }

  .socials{
    display: flex;
    flex-direction: row;
  }

  /* start of first grid */
  .firstGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    width: 89%;
  }
  .grid-item {
    width: 93%;
    margin-right: 1rem;
  }

  /* start of second div */
  .second-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    width: 89%;
  }
  .seconGrid-container {
    margin-bottom: 3.5rem;
  }
}
