@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&family=Inter:wght@400;700&family=Space+Mono:wght@700&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: hsl(230, 17%, 14%);
  color: white;
  font-size: 14px;
  padding-left: 1.5rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
.headerText {
  padding-top: 2rem;
  /* border-bottom: 0.5px solid hsl(228, 34%, 66%); */
  padding-bottom: 1.5rem;
}
hr {
  width: 92%;
  color: hsl(228, 34%, 66%);
}
.headerText p {
  color: hsl(228, 34%, 66%);
  font-weight: bold;
  margin-top: 5px;
  font-size: 16px;
}

/* toggle */
.toggle {
  padding-top: 1.5rem;
  color: hsl(228, 34%, 66%);
  font-weight: bold;
  padding-bottom: 1rem;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
.toggle button {
  margin-left: -5.2rem;
  width: 3rem;
  background-color: hsl(228, 34%, 66%);
  border: none;
  border-radius: 10rem;
  color: white;
}

/* Grid items */
.firstGrid {
  margin-bottom: 5rem;
}

.grid-item {
  background-color: hsl(228, 28%, 20%);
  width: 93%;
  text-align: center;
  padding: 2rem;
  border-top: 5px solid hsl(208, 92%, 53%);
  border-radius: 6px;
  margin-bottom: 1.2rem;
}
.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: hsl(228, 34%, 66%);
  font-weight: bold;
  margin-bottom: 1.5rem;
  padding-top: 0.5rem;
}
.socials p {
  margin-left: 0.5rem;
}
.count h1 {
  font-size: 3.5rem;
  margin-bottom: -1.2rem;
}
.count span {
  color: hsl(228, 34%, 66%);
  letter-spacing: 4px;
}

.stat {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  color: hsl(163, 72%, 41%);
  font-weight: bold;
}
.stat i {
  margin-right: 0.5rem;
  color: hsl(163, 72%, 41%);
}

.twitter {
  border-top: 5px solid hsl(203, 89%, 53%);
}
.instagram {
  border-top: 5px solid;
  border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%))
    1 0 0 0;
}
.youtube {
  border-top: 5px solid hsl(348, 97%, 39%);
}
.youtube i {
  color: hsl(348, 97%, 39%);
}
.youtube_stat {
  color: hsl(348, 97%, 39%);
}
/* end of first grid */

/* start of second div */
.second-grid{
    margin-bottom: 2rem;
}
.second_gridItem {
  background-color: hsl(228, 28%, 20%);
  width: 93%;
  padding: 1.5rem;
  border-radius: 6px;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.views {
  /* display: flex; */
  /* flex-direction: column; */
  margin-top: 1.5rem;
  margin-top: 0.5rem;
}
.views p {
  color: hsl(228, 34%, 66%);
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.views h1 {
  font-size: 2.5rem;
  margin-top: 2rem;
}

.stat_2 {
  /* display: flex; */
  /* flex-direction: column; */
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-family: "Inter", sans-serif;
}

.stat_2 img {
  width: 1.5rem;
  margin-top: -1.5rem;
}

.stat_2 i {
  color: hsl(163, 72%, 41%);
  font-weight: bold;
  margin-top: 3rem;
  margin-left: -1.9rem;
}

.stat_icon {
  margin-top: -0.5rem;
  margin-left: 0.2rem;
}
.stat_icon i {
  margin-left: -1rem;
}
.stat_icon p {
  margin-top: -1rem;
  color: hsl(163, 72%, 41%);
  font-weight: bold;
}
.plenty img {
  margin-left: 1.5rem;
}
.plenty2 img {
  margin-left: 1rem;
}
.plenty1 img {
  margin-left: 0.5rem;
}

/* start of destop view */
@media (min-width: 760px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    margin-left: 8rem;
  }
  hr {
    display: none;
  }
  /* header */
  .header {
    display: flex;
    justify-content: space-between;
  }
  .toggle {
    margin-right: 8rem;
    margin-top: 1rem;
  }
  .toggle p {
    margin-right: 6rem;
  }

  /* start of first grid */
  .firstGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    width: 89%;
  }
  .grid-item {
    width: 93%;
    margin-right: 1rem;
  }
  /* .instagram{
    width: 98%;
    margin-right: 1re;
} */

  /* start of second div */
  .second-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    width: 89%;
  }


}
